<%- include('partials/_headerCliente')%>

    <div class="container my-4 d-flex justify-content-center">
        <div class="container">


            <div class="row my-5">

            </div>
            <div class="row mt-5 mb-2">
                <h2>Lista de alimentos:</h2>
            </div>
            <div class="row my-2">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i = 0; alimentos.length; i++){%>

                                Hola <br>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



    </div>

    <%- include('partials/_footerCliente')%>