<%- include( 'partials/_headerAdmin')%>


    <div class="container my-4 d-flex justify-content-center">
        <div class="container">


            <div class="row my-5">
                <div class="col">


                    <button type="button" class="btn btn-primary">Agregar alimento</button>
                </div>
            </div>
            <div class="row mt-5 mb-2">
                <h2>Lista de alimentos:</h2>
            </div>
            <div class="row my-2">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>La peli</td>
                                <td>comida1</td>
                                <td>Actores1</td>
                                <td>precio</td>
                                <td>

                                    <button type="button" class="btn btn-success">Success</button>
                                    <button type="button" class="btn btn-danger">Danger</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>comida2</td>
                                <td>Director2</td>
                                <td>Actores2</td>
                                <td>Generos2</td>
                                <td>

                                    <button type="button" class="btn btn-success">Success</button>
                                    <button type="button" class="btn btn-danger">Danger</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include( 'partials/_footerAdmin')%>