<%- include( 'partials/_headerAdmin')%>


    <div class="container my-4 d-flex justify-content-center">
        <div class="container">



            <div class="row mt-5 mb-2">
                <h2>Lista de películas:</h2>
            </div>
            <div class="row my-2">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Título</th>
                                <th scope="col">Director</th>
                                <th scope="col">Actores</th>
                                <th scope="col">Géneros</th>
                                <th scope="col">Idiomas</th>
                                <th scope="col">Año publicación</th>
                                <th scope="col">Duración</th>
                                <th scope="col">Edad requerida</th>
                                <th scope="col">Precios</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>La peli</td>
                                <td>Director1</td>
                                <td>Actores1</td>
                                <td>Generos1</td>
                                <td>Idiomas1</td>
                                <td>Año1</td>
                                <td>Duracion1</td>
                                <td>Edad1</td>
                                <td>Precios</td>
                                <td>

                                    <button type="button" class="btn btn-success">Agregar a cartelera</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>La peli2</td>
                                <td>Director2</td>
                                <td>Actores2</td>
                                <td>Generos2</td>
                                <td>Idiomas2</td>
                                <td>Año2</td>
                                <td>Duracion2</td>
                                <td>Edad2</td>
                                <td>Precios2</td>
                                <td><button type="button" class="btn btn-success">Agregar a cartelera </button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <%- include( 'partials/_footerAdmin')%>