<%- include( 'partials/_headerAdmin')%>


    <div class="container my-4 d-flex justify-content-center">
        <div class="container">


            <div class="row my-5">
                <div class="col">


                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar película</button>
                </div>
            </div>

            <div class="row mt-5 mb-2">
                <h2>Lista de películas:</h2>
            </div>
            <div class="row my-2">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Título</th>
                                <th scope="col">Director</th>
                                <th scope="col">Actores</th>
                                <th scope="col">Géneros</th>
                                <th scope="col">Idiomas</th>
                                <th scope="col">Año publicación</th>
                                <th scope="col">Duración</th>
                                <th scope="col">Edad requerida</th>
                                <th scope="col">Precios</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>La peli</td>
                                <td>Director1</td>
                                <td>Actores1</td>
                                <td>Generos1</td>
                                <td>Idiomas1</td>
                                <td>Año1</td>
                                <td>Duracion1</td>
                                <td>Edad1</td>
                                <td>Precios</td>
                                <td>

                                    <button type="button" class="btn btn-success">Success</button>
                                    <button type="button" class="btn btn-danger">Danger</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>La peli2</td>
                                <td>Director2</td>
                                <td>Actores2</td>
                                <td>Generos2</td>
                                <td>Idiomas2</td>
                                <td>Año2</td>
                                <td>Duracion2</td>
                                <td>Edad2</td>
                                <td>Precios2</td>
                                <td>

                                    <button type="button" class="btn btn-success">Success</button>
                                    <button type="button" class="btn btn-danger">Danger</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar película</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="idTitulo" class="form-label">Título</label>
                                <input type="text" name="titulo" class="form-control" id="idTitulo">
                            </div>
                            <div class="mb-3">
                                <label for="idDir" class="form-label">Director</label>
                                <input type="text" name="director" class="form-control" id="idDir">
                            </div>
                            <div class="mb-3">
                                <label for="idAc" class="form-label">Actores</label>
                                <input type="text" name="actores" class="form-control" id="idAc">
                            </div>
                            <div class="mb-3">
                                <label for="idGen" class="form-label">Géneros</label>
                                <input type="text" name="generos" class="form-control" id="idGen">
                            </div>
                            <div class="mb-3">
                                <label for="idi" class="form-label">Idiomas</label>
                                <input type="text" name="idiomas" class="form-control" id="idi">
                            </div>
                            <div class="mb-3">
                                <label for="pub" class="form-label">Año de publicación</label>
                                <input type="text" name="annoPublicacion" class="form-control" id="pub">
                            </div>
                            <div class="mb-3">
                                <label for="dur" class="form-label ">Duración</label>
                                <input type="text" name="duracion" class="form-control" id="dur">
                            </div>
                            <div class="mb-3">
                                <label for="edr" class="form-label ">Edad requerida</label>
                                <input type="text" name="edadRequerida" class="form-control" id="edr">
                            </div>
                            <button type="submit" class="btn btn-primary">Agregar película</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal-->


    </div>

    <%- include( 'partials/_footerAdmin')%>